
{% extends 'base.html' %}
{% load static %}
{% block title %} Blog{% endblock title %}

{% block body %}
<div class="page-content-wrap">
<header class="rich-header page-header version1" data-parallax="true" id="header_4129_0">
<div class="parallax-container" id="div_4129_0">&nbsp;</div>
<div class="container nz-clearfix">
<div class="rh-content">
<h1 >Montserrat Blog</h1>
<div class="rh-separator">&nbsp;</div>
<div id="div_4129_1" class="nz-breadcrumbs nz-clearfix"><a href="index.html">Home</a></div>
</div>
</div>
<div id="slider-arrow" data-target="#nz-target" data-from="90" data-offset="90" class="i-separator animate nz-clearfix"><i class="icon-arrow-down10"></i></div>
</header>
<div class="blog-layout-wrap list sidebar-false" id="nz-target">
<div id="loop" class="loop">
<div class="container nz-clearfix">
<section class="content lazy blog-layout nz-clearfix">
    <div class="blog-post blog-post-1 nz-clearfix">

        {% for post in posts %}
        <article data-grid="ninzio_01" class="post-195 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-design tag-design tag-eva tag-external tag-free tag-logo tag-repairing tag-shopping tag-smart" id="post-195">
            <div class="nz-thumbnail">
                <div class="post-category">
                    <ul class="post-categories">
                        <li><a href="#" rel="category tag">{{post.title}}</a></li>
                    </ul>
                </div><img width="440" height="400" src="{% static 'upload/blog1-440x400.jpg' %}" class="attachment-Montserrat-Ninzio-Square size-Montserrat-Ninzio-Square wp-post-image" alt="blog1" />
                <div class="ninzio-overlay">
                    <a class="nz-overlay-before" title="View details" href="#"></a>
                </div>
            </div>
            <div class="post-body">
                <div class="post-body-in">
                    <span class="sticky-ind"></span>
                    <h3 class="post-title">
                        <a href="#" title="Read more about Welcome to Responsive Retina-Ready WP Theme" rel="bookmark">{{post.title}}</a>
                    </h3>
                    <div class="post-date-full">{{post.timeStamp}}</div>
                    <div class="post-excerpt">{{post.content}}</div>
                    <a class="post-more" href="#">Read more<span class="screen-reader-text">{{post.title}}</span></a>
                </div>
            </div>

        </article>
        {% endfor %}
    </div>
</section>
<nav class=ninzio-navigation>
    <ul class='page-numbers'>
        <li><span class='page-numbers current'>1</span></li>
        <li><a class='page-numbers' href='page/2/indexed65.html?blog_layout=list'>2</a></li>
        <li><a class="next page-numbers" href="page/2/indexed65.html?blog_layout=list"><span class="icon icon-arrow-right8"></span></a></li>
    </ul>
</nav>
</div>
</div>

</div>
{% endblock body %}