
<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie  blank-false " lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie  blank-false " lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie  blank-false " lang="en-US"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie  blank-false " lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js  blank-false " lang="en-US">
<!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->
    <link rel="pingback" href="xmlrpc.html" />
    <title>{% block title %} {% endblock title %}</title>


    <link rel='stylesheet' href='{% static "css/settings.css" %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static "css/dynamic-styles.css" %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static "css/icomoon.css" %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static "css/header-im.css" %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static "css/default.css" %}' type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href='{% static "css/js_composer.min.css" %}' type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface%7CMontserrat:300,400,500,600,700%7COpen+Sans:300,400,600,700,700i,800&amp;subset=latin-ext" rel="stylesheet">

    <link rel="icon" href='{% static "upload/cropped-apple_favicon-90x90.png" %}' sizes="32x32" />
    <link rel="icon" href='{% static "upload/cropped-apple_favicon-300x300.png" %}' sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="upload/cropped-apple_favicon-300x300.png" />

</head>

<body class="home page page-id-5737 page-template page-template-page-vc page-template-page-vc-php wpb-js-composer js-comp-ver-4.12 vc_responsive ">
    <!-- general wrap start -->
    <div id="gen-wrap">

        <div class='site-widget-area widget-area'>
            <div class="mob-sidebar-toggle2"></div>
            <div class="custom-scroll-bar">
                <div id="nav_menu-2" class="widget widget_nav_menu">
                    <div class="menu-sidebar-menu-container">
                        <ul id="menu-sidebar-menu" class="menu">
                            <li class="menu-item menu-item-has-children"><a href="#">Home</a>
                                
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{% url 'about' %}">About Us</a></li>
                                    
                                </ul>
                            </li>
                            <li class="menu-item"><a href="#">Blog</a></li>
                            <li class="menu-item"><a href="#">Projects</a></li>
                        </ul>
                    </div>
                </div>
   
                <div id="null-instagram-feed-3" class="widget null-instagram-feed">
                    <h6 class="widget_title">Instagram</h6>
                    <ul class="instagram-pics instagram-size-thumbnail">
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta1.jpg' %}"  alt="Photography"  /></a>
                        </li>
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta2.jpg' %}"  alt="Photography"  /></a>
                        </li>
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta3.jpg' %}"  alt="Photo"  /></a>
                        </li>
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta4.jpg' %}"  alt="Photography"  /></a>
                        </li>
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta5.jpg' %}"  alt="Hey"  /></a>
                        </li>
                        <li >
                            <a href="#" target="_self" ><img src="{% static 'upload/insta6.jpg' %}"  alt="Hey"  /></a>
                        </li>
                    </ul>
                    <p class="clear"><a href="http://instagram.com/canon_photos/" rel="me" target="_self">Follow Me!</a></p>
                </div>
                <div id="mailchimp-2" class="widget widget_mailchimp">
                    <h6 class="widget_title">Subscribe</h6>
                    <div id="mc_embed_signup">
                        <div class="mailchimp-subtitle">Enter your email and we&#039;ll send you a coupon with 10% off your next order.</div>
                        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                        </form>
                        <div class="mailchimp-description"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-overlay">&nbsp;</div>

        <!-- wrap start -->
        <div id="wrap" class="nz-wide">

            <header class="header mob-header cart-true nz-clearfix">
                <div class="mob-header-top nz-clearfix">
                    <div class="container">
                        <div class="logo logo-mob">
                            <a href="/" title="Montserrat">
                                <img id="img_08b8_0" src="{% static 'upload/logo_black2.png' %}" alt="Montserrat">
                            </a>
                        </div>
                        <span class="mob-menu-toggle"></span>
                        <span class="mob-sidebar-toggle"></span>
                    </div>
                </div>
                <div class="mob-header-content nz-clearfix">

                    <div class="container">

                        <nav class="mob-menu nz-clearfix">
                            <ul  class="menu">
                                <li class="menu-item current-menu-item current_page_item menu-item-home menu-item-has-children" data-mm="false" data-mmc="2"><a href="/"><span class="mi"></span><span class="txt">Home</span><span class="di icon-arrow-right9"></span></a>
                                     
                                </li>
                                <li class="menu-item menu-item-has-children"  data-mm="true" data-mmc="4"><a href="#"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v1.html"><span class="mi"></span><span class="txt">Header Version 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v2.html"><span class="mi"></span><span class="txt">Header Version 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v3.html"><span class="mi"></span><span class="txt">Header Version 3</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v4.html"><span class="mi"></span><span class="txt">Header Version 4</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v5.html"><span class="mi"></span><span class="txt">Header Version 5</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v6.html"><span class="mi"></span><span class="txt">Header Version 6</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#.html"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v7.html"><span class="mi"></span><span class="txt">Header Version 7</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v8.html"><span class="mi"></span><span class="txt">Header Version 8</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v9.html"><span class="mi"></span><span class="txt">Header Version 9</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v10.html"><span class="mi"></span><span class="txt">Header Version 10</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v11.html"><span class="mi"></span><span class="txt">Header Version 11</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="header-version=v12.html"><span class="mi"></span><span class="txt">Header Version 12</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Page Titles</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-1.html"><span class="mi"></span><span class="txt">Page Title Version 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-2.html"><span class="mi"></span><span class="txt">Page Title Version 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-3.html"><span class="mi"></span><span class="txt">Page Title Version 3</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-4.html"><span class="mi"></span><span class="txt">Page Title Version 4</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-5.html"><span class="mi"></span><span class="txt">Page Title Version 5</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-6.html"><span class="mi"></span><span class="txt">Page No Title Section</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Pages</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">About Us</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-airplane2 menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-dropbox menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-flag2 menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 3</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Services</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-leaf2 menu-item" data-mm="false" data-mmc="2"><a href="services.html"><span class="mi"></span><span class="txt">Services 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-suitcase menu-item" data-mm="false" data-mmc="2"><a href="services-2.html"><span class="mi"></span><span class="txt">Services 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-database menu-item" data-mm="false" data-mmc="2"><a href="services-3.html"><span class="mi"></span><span class="txt">Services 3</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Contact Us</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-paperplane2 menu-item" data-mm="false" data-mmc="2"><a href="contact-form.html"><span class="mi"></span><span class="txt">Contact Us 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-microphone menu-item" data-mm="false" data-mmc="2"><a href="contacts-2.html"><span class="mi"></span><span class="txt">Contact Us 2</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Technical pages</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-directions menu-item" data-mm="false" data-mmc="2"><a href="404error.html"><span class="mi"></span><span class="txt">404 Not Found</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="icon-megaphone2 menu-item" data-mm="false" data-mmc="2"><a href="blank-page.html"><span class="mi"></span><span class="txt">Blank Page</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="pricing-plans.html"><span class="mi"></span><span class="txt">Pricing</span><span class="di icon-arrow-right9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Blog</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=small.html"><span class="mi"></span><span class="txt">Small</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=medium.html"><span class="mi"></span><span class="txt">Medium</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=large.html"><span class="mi"></span><span class="txt">Large</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=list.html"><span class="mi"></span><span class="txt">List</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=standard.html"><span class="mi"></span><span class="txt">Standard</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=standard_sidebar.html"><span class="mi"></span><span class="txt">Standard With Sidebar</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=sidebar.html"><span class="mi"></span><span class="txt">Sidebar Active</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="retina-theme-today.html"><span class="mi"></span><span class="txt">Single Post</span><span class="di icon-arrow-right9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Works</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=small-standard.html"><span class="mi"></span><span class="txt">Small Standard</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=medium-standard.html"><span class="mi"></span><span class="txt">Medium Standard</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=large-standard.html"><span class="mi"></span><span class="txt">Large Standard</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=small-image.html"><span class="mi"></span><span class="txt">Small Image</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=medium-image.html"><span class="mi"></span><span class="txt">Medium Image</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=large-image.html"><span class="mi"></span><span class="txt">Large Image</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=small-image-nogap.html"><span class="mi"></span><span class="txt">Small Image No Gap</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=medium-image-nogap.html"><span class="mi"></span><span class="txt">Medium Image No Gap</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="great-happy-woman.html"><span class="mi"></span><span class="txt">Single Project Simple</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects_layout=wide.html"><span class="mi"></span><span class="txt">Single Project Wide</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="painting-and-repairing.html"><span class="mi"></span><span class="txt">Single Project Extended</span><span class="di icon-arrow-right9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="4"><a href="#"><span class="mi"></span><span class="txt">Shop</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=small.html"><span class="mi"></span><span class="txt">Small</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=medium.html"><span class="mi"></span><span class="txt">Medium</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=left.html"><span class="mi"></span><span class="txt">Sidebar Left</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=right.html"><span class="mi"></span><span class="txt">Sidebar Right</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_sidebar_single=left.html"><span class="mi"></span><span class="txt">Single Product Sidebar Left</span><span class="di icon-arrow-right9"></span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="coffee-milkshake.html"><span class="mi"></span><span class="txt">Single Product Sidebar Right</span><span class="di icon-arrow-right9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children" data-mm="true" data-mmc="5"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Accordion</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Alert Messages</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Animated Columns</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Button</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Carousel</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Charts</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Circle Progress</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Clients</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Content Boxes</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Counters</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements.html"><span class="mi"></span><span class="txt">Gap</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Gallery</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-6.html"><span class="mi"></span><span class="txt">Google Map</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icons</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Image Heading</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icon List</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Icon Progress</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Mailchimp</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Media Slider</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Ordinary Tables</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Popup Message</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Pricing Table</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Persons</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Progress Bar</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Projects</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Posts</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Tweets</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Row</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Separator</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Slick Carousel</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Social Links</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">SoundCloud</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Tabs</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Taglines</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Testimonials</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Timer</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Video Player</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Vimeo</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-9.html"><span class="mi"></span><span class="txt">Woo Elements</span><span class="di icon-arrow-right9"></span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Youtube</span><span class="di icon-arrow-right9"></span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>

                        <div class="cart-toggle">
                            <a class="cart-contents" href="" title="">
                                <span class="cart-info">0</span>
                            </a>
                        </div>

                        <div class="search nz-clearfix">
                            <form action="" method="get">
                                <fieldset>
                                    <input type="text" name="s" placeholder="Search for..." value="Search for..." />
                                    <input type="submit"  value="Search" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </header>
            <header class="header desk version1 page-title-section-version1 one-page-side stuck-true stuck-boxed-false top-false full-width-true sl-true search-true cart-true sidebar-toggle-true iversion-light effect-fill hover-effect-fill megamenu-hover-effect-underline subeffect-ghost fixed-true fiversion-dark wiversion-light">

                <div class="header-content">

                    <div class="header-body">
                        <div class="container nz-clearfix">

                            <div class="logo logo-desk">
                                <a href="index.html" title="Montserrat">
                                    <img class="normal-logo" id="img_08b8_1" src="{% static 'upload/logo.png' %}" alt="Montserrat">
                                    <img class="fixed-logo sss" id="img_08b8_2" src="{% static 'upload/logo_black2.png' %}" alt="Montserrat">
                                </a>
                            </div>

                            <div class="site-sidebar-toggle"></div>

                            <div class="search-toggle-wrap">
                                <div class="search-toggle"></div>
                                <div class="search">
                                    <form action="" method="get">
                                        <fieldset>
                                            <input type="text" name="s" placeholder="Search for..." value="Search for..." />
                                            <input type="submit"  value="Search" />
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                            <div class="desk-cart-wrap">
                                <div class="desk-cart-toggle">
                                    <a class="cart-contents" href="cart/index.html" title="View your shopping cart">
                                        <span class="cart-info">0</span>
                                    </a>
                                </div>
                                <div class="woo-cart nz-clearfix">
                                    <div class="widget woocommerce widget_shopping_cart">
                                        <h2 class="widgettitle">Cart</h2>
                                        <div class="widget_shopping_cart_content"></div>
                                    </div>
                                </div>
                            </div>

                            <nav class="header-menu desk-menu nz-clearfix">
                                <ul  class="menu">
                                    <li class="menu-item current-menu-item current_page_item menu-item-home menu-item-has-children" data-mm="false" data-mmc="2"><a href="/"><span class="mi"></span><span class="txt">Home</span><span class="di icon-arrow-right9"></span></a>
                                        
                                    </li> 
                                    <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Pages</span><span class="di icon-arrow-right9"></span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">About Us</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="icon-airplane2 menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-dropbox menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-flag2 menu-item" data-mm="false" data-mmc="2"><a href="{% url 'about' %}"><span class="mi"></span><span class="txt">About Us 3</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Services</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="icon-leaf2 menu-item" data-mm="false" data-mmc="2"><a href="services.html"><span class="mi"></span><span class="txt">Services 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-suitcase menu-item" data-mm="false" data-mmc="2"><a href="services-2.html"><span class="mi"></span><span class="txt">Services 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-database menu-item" data-mm="false" data-mmc="2"><a href="services-3.html"><span class="mi"></span><span class="txt">Services 3</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Contact Us</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="icon-paperplane2 menu-item" data-mm="false" data-mmc="2"><a href="contact-form.html"><span class="mi"></span><span class="txt">Contact Us 1</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-microphone menu-item" data-mm="false" data-mmc="2"><a href="contacts-2.html"><span class="mi"></span><span class="txt">Contact Us 2</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Technical pages</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="icon-directions menu-item" data-mm="false" data-mmc="2"><a href="404error.html"><span class="mi"></span><span class="txt">404 Not Found</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="icon-megaphone2 menu-item" data-mm="false" data-mmc="2"><a href="blank-page.html"><span class="mi"></span><span class="txt">Blank Page</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="pricing-plans.html"><span class="mi"></span><span class="txt">Pricing</span><span class="di icon-arrow-right9"></span></a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Blog</span><span class="di icon-arrow-right9"></span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=small.html"><span class="mi"></span><span class="txt">Small</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=medium.html"><span class="mi"></span><span class="txt">Medium</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=large.html"><span class="mi"></span><span class="txt">Large</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=list.html"><span class="mi"></span><span class="txt">List</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=standard.html"><span class="mi"></span><span class="txt">Standard</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=standard_sidebar.html"><span class="mi"></span><span class="txt">Standard With Sidebar</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog_layout=sidebar.html"><span class="mi"></span><span class="txt">Sidebar Active</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="retina-theme-today.html"><span class="mi"></span><span class="txt">Single Post</span><span class="di icon-arrow-right9"></span></a></li>
                                        </ul>
                                    </li> 
                                    <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="4"><a href="#"><span class="mi"></span><span class="txt">Shop</span><span class="di icon-arrow-right9"></span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=small.html"><span class="mi"></span><span class="txt">Small</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=medium.html"><span class="mi"></span><span class="txt">Medium</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=left.html"><span class="mi"></span><span class="txt">Sidebar Left</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_layout=right.html"><span class="mi"></span><span class="txt">Sidebar Right</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop_sidebar_single=left.html"><span class="mi"></span><span class="txt">Single Product Sidebar Left</span><span class="di icon-arrow-right9"></span></a></li>
                                            <li class="menu-item" data-mm="false" data-mmc="2"><a href="coffee-milkshake.html"><span class="mi"></span><span class="txt">Single Product Sidebar Right</span><span class="di icon-arrow-right9"></span></a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children" data-mm="true" data-mmc="5"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Accordion</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Alert Messages</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Animated Columns</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Button</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Carousel</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Charts</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Circle Progress</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Clients</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Content Boxes</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Counters</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements.html"><span class="mi"></span><span class="txt">Gap</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Gallery</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-6.html"><span class="mi"></span><span class="txt">Google Map</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icons</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Image Heading</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icon List</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Icon Progress</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Mailchimp</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Media Slider</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Ordinary Tables</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Popup Message</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Pricing Table</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Persons</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Progress Bar</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Projects</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Posts</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Tweets</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Row</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Separator</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Slick Carousel</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Social Links</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">SoundCloud</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-right9"></span></a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Tabs</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Taglines</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Testimonials</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Timer</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Video Player</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Vimeo</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-9.html"><span class="mi"></span><span class="txt">Woo Elements</span><span class="di icon-arrow-right9"></span></a></li>
                                                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Youtube</span><span class="di icon-arrow-right9"></span></a></li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </header>

{% block body %} 



{% endblock body %}



  <!-- footer start -->
                <footer class='footer'>
                    <div class="footer-wa nz-clearfix">
                        <div class="container">
                            <aside class="footer-widget-area widget-area nz-clearfix">
                                <div id="text-2" class="widget widget_text">
                                    <div class="textwidget"><img id="img_a644_0" src="{% static 'upload/logo2.png' %}" alt="Montserrat">
                                        <div class="gap nz-clearfix" id="div_a644_24">&nbsp;</div>
                                        <span id="span_a644_31">We create Premiun HTML Themes. Our team goal is to reunite the elegance of a unique design with a professional programming to create Unique HTML Themes.</span>
                                        <div class="gap nz-clearfix" id="div_a644_25">&nbsp;</div>
                                        <div class="nz-sl social-links nz-clearfix left">
                                            <a class="icon-facebook" href="http://facebook.com/" target="_self"></a>
                                            <a class="icon-twitter" href="http://twitter.com/" target="_self"></a>
                                            <a class="icon-googleplus" href="http://googleplus.com/" target="_self"></a>
                                            <a class="icon-apple" href="http://apple.com/" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="text-3" class="widget widget_text">
                                    <h6 class="widget_title">Useful Links</h6>
                                    <div class="textwidget">
                                        <div class="nz-clearfix">
                                            <ul id="ul_a644_0">
                                                <li><a href="#">Help Center</a></li>
                                                <li><a href="#">Smart Team</a></li>
                                                <li><a href="#">Creative</a></li>
                                                <li><a href="#">Features</a></li>
                                                <li><a href="#">Terms of Use</a></li>
                                                <li><a href="{% url 'about' %}">About</a></li>
                                            </ul>
                                            <ul id="ul_a644_1">
                                                <li><a href="#">Creative</a></li>
                                                <li><a href="#">Features</a></li>
                                                <li><a href="#">Smart Team</a></li>
                                                <li><a href="#">Conditions</a></li>
                                                <li><a href="#">Products</a></li>
                                                <li><a href="#">Contacts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="null-instagram-feed-4" class="widget null-instagram-feed">
                                    <h6 class="widget_title">Instagram</h6>
                                    <ul class="instagram-pics instagram-size-thumbnail">
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta1.jpg" %}' alt="Photography"  /></a>
                                        </li>
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta2.jpg" %}' alt="Photography"  /></a>
                                        </li>
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta3.jpg" %}' alt="Photo"  /></a>
                                        </li>
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta4.jpg" %}' alt="Photography"  /></a>
                                        </li>
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta5.jpg" %}' alt="Hey hey hey"  /></a>
                                        </li>
                                        <li >
                                            <a href="#" target="_self" ><img src='{% static "upload/insta6.jpg" %}' alt="Hey guys"  /></a>
                                        </li>
                                    </ul>
                                    <p class="clear"><a href="http://instagram.com/canon_photos/" rel="me" target="_self">Follow Me!</a></p>
                                </div>
                                <div id="nz-recent-posts-5" class="widget widget_nz_recent_entries">
                                    <h6 class="widget_title">Recent posts</h6>
                                    <ul>

                                        <li class="post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-eva tag-external tag-free tag-logo tag-repairing tag-shopping tag-smart">
                                            <div class="post-body">
                                                <a class="post-title" href="#">Welcome to Responsive Retina-Ready HTML Theme</a>
                                                <div class="post-date">September 8, 2015</div>
                                            </div>
                                        </li>

                                        <li class="post-194 post type-post status-publish format-aside has-post-thumbnail hentry category-marketing tag-design tag-eva tag-external tag-logo tag-marketing tag-ninzio-style tag-painting tag-smart post_format-post-format-aside">
                                            <div class="post-body">
                                                <a class="post-title" href="#">Responsive Transportation</a>
                                                <div class="post-date">September 3, 2015</div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="footer-info-area nz-clearfix">
                        <div class="container">
                            <div class="footer-copyright nz-clearfix">
                                <span id="span_a644_32">MONTSERRAT  ©  2016 by Ninzio Themes | All Rights Reserved</span> </div>
                            <nav class="footer-menu nz-clearfix">
                                <ul id="footer-menu" class="menu">
                                    <li class="menu-item"><a href="{% url 'about' %}">About us</a></li>
                                    <li class="menu-item"><a href="#">Blog</a></li>
                                    <li class="menu-item"><a href="#">Contact us</a></li>
                                    <li class="menu-item"><a href="#">FAQ</a></li>
                                    <li class="menu-item"><a href="#">Services</a></li>
                                    <li class="menu-item"><a href="#">Shop</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </footer>
                <!-- footer end -->
            </div>
        </div>
        <!-- wrap end -->
    </div>
    <a id="top" href="#wrap"></a>
    <!-- general wrap end -->
    <script type='text/javascript' src='{% static "js/jquery/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery/jquery-migrate.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.blockUI.min.js" %}'></script>
     <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg'></script>
    <script type='text/javascript' src='{% static "js/woocommerce.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/smoothscroll.js" %}'></script>
    <script type='text/javascript' src='{% static "js/isotope.pkgd.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/plugins.js" %}'></script>
    <script type='text/javascript' src='{% static "js/controller.js" %}'></script>

    <script type='text/javascript' src='{% static "js/contact-form.js" %}'></script>
    <script type='text/javascript' src='{% static "js/js_composer_front.min.js" %}'></script>

    <script type='text/javascript' src='{% static "js/jquery.themepunch.tools.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.themepunch.revolution.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.slideanims.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.layeranimation.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.navigation.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.actions.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.carousel.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.kenburn.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.migration.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.parallax.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/extensions/revolution.extension.video.min.js" %}'></script>


    <script type='text/javascript' src='{% static "js/jquery/ui/core.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery/ui/widget.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery/ui/mouse.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery/ui/slider.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery-ui-touch-punch.min.js" %}'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_price_slider_params = {"currency_symbol":"\u00a3","currency_pos":"left","min_price":"","max_price":""};
    /* ]]> */
    </script>
    <script type='text/javascript' src='{% static "js/price-slider.min.js" %}'></script>



    <script type="text/javascript">
        /******************************************
                        -   PREPARE PLACEHOLDER FOR SLIDER  -
                    ******************************************/

        var setREVStartSize = function() {
            try {
                var e = new Object,
                    i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                e.c = jQuery('#rev_slider_7_1');
                e.responsiveLevels = [1240, 1024, 778, 480];
                e.gridwidth = [1170, 960, 720, 440];
                e.gridheight = [650, 650, 650, 400];

                e.sliderLayout = "fullscreen";
                e.fullScreenAutoWidth = 'off';
                e.fullScreenAlignForce = 'off';
                e.fullScreenOffsetContainer = '';
                e.fullScreenOffset = '';
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })

            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };

        setREVStartSize();

        var tpj = jQuery;

        var revapi7;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_7_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_7_1");
            } else {
                revapi7 = tpj("#rev_slider_7_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "on",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1170, 960, 720, 440],
                    gridheight: [650, 650, 650, 400],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 55],
                        type: "mouse",
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "spinner5",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
</body>
</html>