{% extends 'base.html' %}
{% load static %}
{% block title %}About Us 2{% endblock title %}

{% block body %} 

            <div class="page-content-wrap">


                <header class="rich-header page-header version1" data-parallax="true" id="header_3605_0">
                    <div class="parallax-container" id="div_3605_0">&nbsp;</div>
                    <div class="container nz-clearfix">

                        <div class="rh-content">
                            <h1 >About Us</h1>
                            <div class="rh-separator">&nbsp;</div>
                            <div id="div_3605_1" class="nz-breadcrumbs nz-clearfix"><a href="index.html"  property="v:title">Home</a><span class="current">About Us</span></div>
                        </div>

                    </div>
                    <div id="slider-arrow" data-target="#nz-content" data-from="90" data-offset="90" class="i-separator animate nz-clearfix"></div>
                </header>

                <!-- content start -->
                <div id="nz-content" class='content nz-clearfix padding-false'>
                    <div class='container page-full-width'>
                        <!-- post start -->
                        <div id="post-4306" class="post-4306 page type-page status-publish hentry">
                            <section class="page-content nz-clearfix">
                                <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_3605_2">
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-6 col6  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <h3 id="h3_3605_0" class="vc_custom_heading ninzio-latter-spacing">WHY CHOOSE US?</h3>
                                                    <div class="sep-wrap element-animate element-animate-false left nz-clearfix" data-effect="none">
                                                        <div class="nz-separator solid" id="div_3605_3">&nbsp;</div>
                                                    </div>
                                                    <div  class="nz-column-text nz-clearfix  element-animate-false" data-effect="none" data-effect-speed="50">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                                                </div>
                                            </div>
                                            <div class="col vc_col-sm-6 col6  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <div id="nz-progress-1" class="nz-progress nz-clearfix">
                                                        <div class="bar">
                                                            <div class="bar-text"><span class="progress-title" >Painting</span><span class="progress-percent" >80</span></div>
                                                            <div class="bar-line">
                                                                <div id="div_3605_4" class="nz-line" data-percentage="80"></div>
                                                            </div>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-text"><span class="progress-title" >Repairing</span><span class="progress-percent" >90</span></div>
                                                            <div class="bar-line">
                                                                <div id="div_3605_5" class="nz-line" data-percentage="90"></div>
                                                            </div>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-text"><span class="progress-title" >Gardening</span><span class="progress-percent" >95</span></div>
                                                            <div class="bar-line">
                                                                <div id="div_3605_6" class="nz-line" data-percentage="95"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-img-width="1600" data-img-height="885" data-animation-speed="35000" data-parallax="false" id="div_3605_7">
                                    <div id="div_3605_8" class="fixed-container"></div>
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="center">
                                                <div class="col-inner" >
                                                    <h2 id="h2_3605_0" class="vc_custom_heading">WE BUILD CREATIVE THEMES</h2>
                                                    <div class='gap nz-clearfix' id="div_3605_9">&nbsp;</div><a class="button button-normal default full-false medium square animate-false anim-type-ghost hover-fill element-animate-false" href="http://ninzio.com/" target="_self" data-effect="none"><span class="txt">Purchase now</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_3605_10">
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="center" data-margin="false">
                                                <div class="col-inner" ></div>
                                            </div>
                                            <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-8 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                                <div class="col-inner" >
                                                    <h3 id="h3_3605_1" class="vc_custom_heading ninzio-latter-spacing">OUR HISTORY</h3>
                                                    <div class="sep-wrap element-animate element-animate-false center nz-clearfix" data-effect="none">
                                                        <div class="nz-separator solid" id="div_3605_11">&nbsp;</div>
                                                    </div>
                                                    <div  class="nz-column-text nz-clearfix no-padding element-animate-false" data-effect="none" data-effect-speed="50">
                                                        
                                                        <p id="p_3605_0"><span id="span_3605_0">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</span></p>
                                                        <p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                                <div class="col-inner" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_3605_12">
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <div class="nz-steps ">
                                                        <div data-target="tab-reconstruction" class="step"><span class="step-title">2010</span>
                                                            <h4 class="title">Reconstruction</h4></div>
                                                        <div id="step-reconstruction" class="step-content">
                                                            <div class="nz-row">
                                                                <div class="col col6 col-animate-false">
                                                                    <div class="col-inner">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible.
                                                                        <div class='gap nz-clearfix' id="div_3605_13">&nbsp;</div>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                                                                </div>
                                                                <div class="col col6 col-animate-false">
                                                                    <div class="col-inner"><img class="aligncenter size-full wp-image-4825" src='{% static "upload/blog8.jpg" %}' alt="blog8" width="870" height="570"  /></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-target="tab-construction" class="step"><span class="step-title">2011</span>
                                                            <h4 class="title">Construction</h4></div>
                                                        <div id="step-construction" class="step-content">
                                                            <div class="nz-row">
                                                                <div class="col col6 col-animate-false">
                                                                    <div class="col-inner"><img class="aligncenter size-full wp-image-4822" src='{% static "upload/blog5.jpg" %}' alt="blog5" width="870" height="570"  /></div>
                                                                </div>
                                                                <div class="col col6 col-animate-false">
                                                                    <div class="col-inner">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                                                                        <div class='gap nz-clearfix' id="div_3605_14">&nbsp;</div>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-target="tab-development" class="step"><span class="step-title">2012</span>
                                                            <h4 class="title">Development</h4></div>
                                                        <div id="step-development" class="step-content">
                                                            <div class="nz-row">
                                                                <div class="col col4 col-animate-false">
                                                                    <div class="col-inner">
                                                                        <br />
                                                                        <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services1.jpg" %}' alt="services1" width="440" height="340" />
                                                                        <div class='gap nz-clearfix' id="div_3605_15">&nbsp;</div>
                                                                        <p id="p_3605_1">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                                                        <p>
                                                                    </div>
                                                                </div>
                                                                <div class="col col4 col-animate-false">
                                                                    <div class="col-inner">
                                                                        <br />
                                                                        <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services2.jpg" %}' alt="services1" width="440" height="340" />
                                                                        <div class='gap nz-clearfix' id="div_3605_16">&nbsp;</div>
                                                                        <p id="p_3605_2">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud.</p>
                                                                        <p>
                                                                    </div>
                                                                </div>
                                                                <div class="col col4 col-animate-false">
                                                                    <div class="col-inner">
                                                                        <br />
                                                                        <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services3.jpg" %}' alt="services1" width="440" height="340" />
                                                                        <div class='gap nz-clearfix' id="div_3605_17">&nbsp;</div>
                                                                        <p id="p_3605_3">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information</p>
                                                                        <p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-target="tab-creativity" class="step"><span class="step-title">2016</span>
                                                            <h4 class="title">Creativity</h4></div>
                                                        <div id="step-creativity" class="step-content">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
                                                            <br />
                                                            <div class='gap nz-clearfix' id="div_3605_18">&nbsp;</div>
                                                            Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_3605_19">
                                    <div class="container">
                                        <div class="nz-row">
                                            <div class="col vc_col-sm-3 col3  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <ul class="nz-i-list ">
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_1"></span></div>
                                                            <div>Organically grow</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_2"></span></div>
                                                            <div>User generated</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_3"></span></div>
                                                            <div>Bring to the table</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_4"></span></div>
                                                            <div>Capitalise on low</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_5"></span></div>
                                                            <div>Override the digital</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_6"></span></div>
                                                            <div>Nanotechnology</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col vc_col-sm-3 col3  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <ul class="nz-i-list ">
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_7"></span></div>
                                                            <div>Override the digital</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_8"></span></div>
                                                            <div>Organically grow</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_9"></span></div>
                                                            <div>User generated</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_10"></span></div>
                                                            <div>Capitalise on low</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_11"></span></div>
                                                            <div>Nanotechnology</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_12"></span></div>
                                                            <div>Bring to the table</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col vc_col-sm-3 col3  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <ul class="nz-i-list ">
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_13"></span></div>
                                                            <div>Capitalise on low</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_14"></span></div>
                                                            <div>Override the digital</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_15"></span></div>
                                                            <div>Organically grow</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_16"></span></div>
                                                            <div>User generated</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_17"></span></div>
                                                            <div>Bring to the table</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_18"></span></div>
                                                            <div>Nanotechnology</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col vc_col-sm-3 col3  element-animate-false valign-top"  data-effect="none" data-align="left">
                                                <div class="col-inner" >
                                                    <ul class="nz-i-list ">
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_19"></span></div>
                                                            <div>Organically grow</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_20"></span></div>
                                                            <div>User generated</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_21"></span></div>
                                                            <div>Bring to the table</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_22"></span></div>
                                                            <div>Capitalise on low</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_23"></span></div>
                                                            <div>Override the digital</div>
                                                        </li>
                                                        <li>
                                                            <div><span class="icon icon-plus4" id="span_3605_24"></span></div>
                                                            <div>Nanotechnology</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nz-section horizontal autoheight-false animate-false full-width-true " data-animation-speed="35000" data-parallax="false" >
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                            <div class="col-inner" >
                                                <div id="nz-tagline-1"  class="nz-tagline">
                                                    <div class="container nz-clearfix"><span id="span_3605_25" class="tagline-icon icon-bulb"></span><span class="tagline-title">Welcome To The Best Modern Website Studio You Ever Seen</span><a class="button button-normal white square icon-true full-false medium animate-false anim-type-ghost hover-fill" href="http://ninzio.com/"><span class="txt">Purchase now</span><span class="btn-icon icon-cart"></span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- post end -->
                    </div>
                </div>
                <!-- content end -->
{% endblock body %}
             